# data
tutorial_notebook/save/*
base/notebook/test/*
!base/notebook/model_test/*.ipynb

# __pycache__
__pycache__/*
*/__pycache__/*
base/model/Temperature/__pycache__/*

# others
.DS_store
.idea/*
.ipynb_checkpoints/
