# data
base/data
base/early_studies
base/notebook/test/*
!base/notebook/test/*.ipynb

# json
base/notebook/lambda/setting.json

# __pycache__
__pycache__/*
*/__pycache__/*
base/model/*/__pycache__/*

# others
.DS_store
.idea/*
.ipynb_checkpoints/
